# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual Environment
.venv/
venv/
env/

# PyTorch Lightning logs
lightning_logs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Model checkpoints
*.pth
*.ckpt

# Misc
*.egg-info/
dist/
build/
